@model Capstone.Web.Models.BeerModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div id="beerInfo">

        <img class="beerLabelImg" src="@Model.BeerLabelImg" />

        <div class="beerInfoTxt">
            <h1>@Model.BeerName</h1>
            <table border="1" ; style="border-style:solid; border-color: black">
                <tr>
                    @if (Model.ABV == 0)
                    {
                        <td>N/A</td>;
                    }
                    else
                    {
                        <td>ABV: @Model.ABV</td>
                    }
                    @if (Model.IBU == 0)
                    {
                        <td>N/A</td>
                    }
                    else
                    {
                        <td>IBU: @Model.IBU</td>
                    }
                    <td>Brew date: @Model.DateBrewed.Date</td>
                </tr>
            </table>

            <p>@Model.BeerDescription</p>
        </div>
    </div>
</div>

