@model Capstone.Web.Models.BeerModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div id="beerInfo">
    <div class="beerLabelImgContainer">
        @if (Model.BeerLabelImg == "NA")
        {
            <img class="beerLabelImg" src="~/Content/IMGS/genericBeer.png" />
            <h2 id="notSupplied">Beer Image Not Supplied</h2>
        }
        else
        {
            <img class="beerLabelImg" src="@Model.BeerLabelImg" />
        }
    </div><!--END BEER INFO IMAGE-->
    <h1>@Model.BeerName</h1>
    <div class="beerInfoTxt">
        <table class="beerTable">
            <tr>
                @if (Model.ABV == 0)
                {
                    <td class="beerTd">ABV: N/A</td>
                }
                else
                {
                    <td class="beerTd">ABV: @Model.ABV</td>
                }
                @if (Model.IBU == 0)
                {
                    <td class="beerTd">IBU: N/A</td>
                }
                else
                {
                    <td class="beerTd">IBU: @Model.IBU</td>
                }
                <td class="beerTd">First Brewed: @Model.DateBrewed.Year</td>
            </tr>
        </table>

        <p>@Model.BeerDescription</p>
        <div class="partialRatingsView">
            @Html.Action("BeerRating", "Home", new { id = Model.BeerId })
        </div>
    </div><!--END BEER INFO TXT-->

</div><!--END BEER INFO-->
