@model Capstone.Web.Models.BreweryModel

@{

}

<div class="container">

    <div id="breweryInfo">

        <div style="width: 48%">
            <img id="breweryProfileImg" src='@Model.BreweryProfileImg'>
        </div>
        <div class="brewInfoTxt">
            <h1 class="brewHeader">@Model.BreweryName</h1>

            <h2>Founded in: @Model.YearFounded</h2>

            <div class="history">@Model.History</div>
            <div class="contactInfo">
                <div>Hours of Operation:</div>
                <div class="hours">@Html.Raw(Model.HoursOfOperation)</div>
                
                <div>
                    <span style="width: 50%">Email: @Model.Email</span>
                    <span class="brewPhone">Phone: @Model.Phone</span>
                </div>
            </div>
        </div>
    </div>

</div>

