@model Capstone.Web.Models.BreweryDetailModel

@{

}

<div id="breweryInfo">

    <div class="breweryProfileImageContainer">
        <img id="breweryProfileImg" src='@Model.Brewery.BreweryProfileImg'>
        <div id="founded">Founded in @Model.Brewery.YearFounded</div>
    </div>
    <h1 class="brewHeader">@Model.Brewery.BreweryName</h1>

    <div class="brewInfoTxt">

        <div class="history">@Model.Brewery.History</div>
        <div class="contactInfo">
            <hr id="hoursHR" />

            <div>Hours of Operation:</div>
            <div class="hours">@Html.Raw(@Model.Brewery.HoursOfOperation)</div>

            <div class="phoneAndEmail">
                <div style="width: 50%">Email: @Model.Brewery.Email</div>
                <div class="brewPhone">Phone: @Model.Brewery.Phone</div>
            </div>
        </div>
    </div>
</div><!--END BREWERY INFO-->
<div class="breweryBeerList">
    @foreach (var beer in Model.Beers)
    {<a style="text-decoration: none" href="@Url.Action("BeerInfo", "Home", new { id = beer.BeerId })">
            <div class="searchResults results breweryBeers">

                <div class="breweryImgContainer">
                    @if (beer.BeerLabelImg == "NA")
                    {
                        <img src="~/Content/IMGS/genericBeer.png" />
                    }
                    else
                    {
                        <img src="@beer.BeerLabelImg" />
                    }
                </div>
                <div class="breweryBeerDetailContainer">
                    <h1 class="beerName">@beer.BeerName</h1>
                    @if (beer.ABV == 0)
                    {
                        <p> ABV: N/A</p>
                    }
                    else
                    {
                        <p>ABV: @beer.ABV</p>
                    }
                    <p>@beer.BeerDescription</p>
                </div>

            </div>
        </a>
    }
</div>


