@model Capstone.Web.Models.BreweryModel

@{

}

<div class="container">

    <div id="breweryInfo">

        <img id="breweryProfileImg" src='@Model.BreweryProfileImg'>

        <div class="brewInfoTxt">
            <h1>@Model.BreweryName</h1>

            <h2>Founded in: @Model.YearFounded</h2>

            <p>@Model.History</p>
            <div>
                <div>Hours of Operation:</div>
                <div>@Model.HoursOfOperation</div>
                
                <div class="contactInfo">
                    <span>Email: @Model.Email</span>
                    <span class="brewPhone">Phone: @Model.Phone</span>
                </div>
            </div>
        </div>
    </div>

</div>

