@model Capstone.Web.Models.SearchResultsModel

@{
    ViewBag.Title = "ListPage";

}

<div class="searchResultsPage">
    <div class="searchResults">
        @if (Model.Beers.Count < 1 && Model.Breweries.Count < 1)
        {
            <div class="results notFoundResults">
                <p class="notFound">No Results Were Found</p>
            </div>
        }
        @foreach (var brewery in Model.Breweries)
        {
        <a href="@Url.Action("BreweryInfo", "Home", brewery)">
            <div class="breweryResults results">
                <img class="breweryImage" src="@brewery.BreweryBackgroundImg" />
                <p class="breweryName">@brewery.BreweryName</p>
                <p class="breweryHistory">@brewery.History</p>
            </div>
        </a>
        }
        @foreach (var beer in Model.Beers)
        {
            <a href="@Url.Action("#", "#")">
                <div class="beerResults results">
                    <img class="beerImage" src="@beer.BeerLabelImg" />
                    <p class="beerName">@beer.BeerName</p>
                    <p class="beerDescription">@beer.BeerDescription</p>
                </div>
            </a>
        }
    </div>
</div>


