@model Capstone.Web.Models.SearchResultsModel

@{
    ViewBag.Title = "ListPage";

}

<<<<<<< HEAD
<div class="searchResultsPage">
=======
<div class="container">
<<<<<<< HEAD
    
    
    <div class="searchList">       

        @foreach(var brewery in Model.Breweries)
=======

    <div class="searchBar"></div>
>>>>>>> c2432ba2183e73556dcd030f8a6620bbf8e7b529
    <div class="searchResults">
        @foreach (var brewery in Model.Breweries)
>>>>>>> fb9e136d55c4b36a7586faaa963625b1cc3b0a44
        {
        <a href="@Url.Action("BreweryInfo", "Home")">
            <div class="breweryResults results">
                <img class="breweryImage" src="@brewery.BreweryBackgroundImg" />
                <p class="breweryName">@brewery.BreweryName</p>
                <p class="breweryHistory">@brewery.History</p>
            </div>
        </a>
        }
        @foreach (var beer in Model.Beers)
        {
            <a href="@Url.Action("#", "#")">
                <div class="beerResults results">
                    <img class="beerImage" src="@beer.BeerLabelImg" />
                    <p class="beerName">@beer.BeerName</p>
                    <p class="beerDescription">@beer.BeerDescription</p>
                </div>
            </a>
        }
    </div>
</div>


