@using Capstone.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="loginFormContainer" style="text-align: center;">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "loginForm" }))
    {
        @Html.AntiForgeryToken()
        <h4 class="loginHTag">Login With Local Account</h4>
        <div class="loginValidation">
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="loginInput">
            @Html.TextBoxFor(m => m.Email, new { placeholder = "email" })
        </div>
        <div class="loginValidation">
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="loginInput">
            @Html.PasswordFor(m => m.Password, new { placeholder = "password" })
        </div>       
        <div>
            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkBox" })
            @Html.LabelFor(m => m.RememberMe)
        </div>
        <div>
            <input class="loginSubmitBtn" type="submit" value="Log in" />
        </div>
        <p class="regAsNewUserLink">
            @Html.ActionLink("Register as a new user", "Register")
        </p>

    }
</div>



@section Scripts {

}
